[2019-11-19 20:08] akurtakov opened #1 "Associate with *.java files"
It's worth considering whether other file associations will be helpful too.

[2019-11-19 20:10] akurtakov commented on #1
After looking at editors available *.gradle and pom.xml would be nice.

[2019-12-06 17:11] zztestxx commented on #1
Will this support c++ with working breakpoints in the debugger on Fedora 31??? Installing eclipse on F31 straight from eclipse.org does not have working breakpoints in the debugger.

[2019-12-06 17:13] zztestxx opened #2 "C++ with working breakpoints in the debugger on Fedora 31"
Does this have c++ support with working debugger breakpoints on Fedora 31??

[2020-01-23 14:39] akurtakov commented on #2
Not by default. You can install CDT on top of it and tell us how well it works for you.

[2020-02-04 10:34] mickaelistria opened #3 "Right-click > Open With > Other... > System Editors doesn't list applications from host"
I'm trying to open a `.jpg` file from Eclipse IDE into Gimp.
I try "right-click > Open With > Other... > System Editors" but cannot see my host applications in here, only some applications from sandbox (like gtk3-demo).
However, if I do "right-click > Open With > System Editor", then I see a dialog asking me to chose for a System Editor, and this one shows Gimp and other relevant applications that

[2020-02-04 10:43] akurtakov commented on #3
I've just tried with EoG and Open With there is empty too. Seems like some kind of portal will have to be added to properly handle the g_app_info* calls.

[2020-02-04 10:44] akurtakov commented on #3
@alexlarsson Alex, what do you think? Is it feasible? IMHO if we are ever to see nautilus (or any file browser) being usable when shipped as flatpak being able to list mime handlers and opening with one of them would be a must.

[2020-02-04 11:36] TingPing commented on #3
This is a subject for https://github.com/flatpak/xdg-desktop-portal

There are some discussions on like a share portal and have been discussions on being able to just directly launch other applications.

[2020-02-04 14:22] akurtakov commented on #3
@TingPing  Can you link us to the appropriate xdg-desktop-portal issue?

[2020-02-04 14:40] TingPing commented on #3
I guess this one is the most relevant: https://github.com/flatpak/xdg-desktop-portal/issues/12

[2020-02-05 10:25] mbooth101 commented on #1
Fixed in 88942a8

[2020-02-05 10:25] #1 closed

[2020-02-14 10:26] mickaelistria opened #4 "TM Terminal inside flatpak is in the sandbox (miss configuration, path and so on)"
From Flatpak Eclipse sandbox, install TM Terminal and then open it.
The terminal user get is from the sandbox, all user's settings and PATH and host applications are ignored, making the terminal almost useless.

[2020-02-14 10:58] mbooth101 commented on #4
Hmm terminals are a particularly troublesome beast and terminal emulator programs in general are not packaged in Flathub because of this.

(Opinion Alert: TBH I never really thought a terminal integrated into the IDE was a great idea, it's never going to be as full-featured as my dedicated terminal emulator program.)

I will take a look at how it's implemented, if it's some external process it may

[2020-02-14 11:00] bilelmoussaoui commented on #4
@mbooth101 you might want to look at https://blogs.gnome.org/chergert/2019/04/25/flatpaking-terminals/

[2020-02-14 11:09] akurtakov commented on #4
Mat, IMHO it should be OK to make terminal plugin know when run in flatpak to launch e.g. bash from host.

[2020-02-14 11:10] mbooth101 commented on #4
Thanks for the hint :-)

[2020-03-10 20:09] mickaelistria opened #5 "Cannot easily install extra JRE from host"
I'm using Eclipse SDK Flatpak, and I have multiple versions of Java installed locally (8 and 13 in the host, 11 in Flatpak).
I'd like to configure the Eclipse SDK so that Java 8 and Java 13 are installed (to more easily test backward and forward compatibility of the projects I'm developing).
However, when inside the Installed JRE preference page and trying to add path to those host JREs, I cannot

[2020-03-31 07:46] mickaelistria opened #6 "Migration wizard shown on every update, wasting time"
I'm using Flatpak for nightlies and try to update often to see latest changes in action. Ideally, I update daily.
However, whenever I update, then the migration wizard shows up and I have to reinstall (including re-downloading) everything I already installed. That consumes bandwidth, delays my "time to usability", requires an extra restart...
Could this story be somehow improved?

[2020-03-31 13:37] mbooth101 commented on #6
I don't know, I assumed this was normal operation by p2 when bundles are updated in a read-only installation.

Users of the GA versions from Flathub almost never see this dialog because they only get updates every few months.

What is the actual trigger for the migration dialog?

[2020-04-07 21:54] mickaelistria opened #7 "Associate as capable of opening eclipse+mpc://... URLs"
I have Eclipse IDE installed with Flatpak, and configured (in Preference > General > Link handlers) as being able to handle eclipse+mpc://... URLs.
So from my console, I try `xdg-open eclipse+mpc://marketplace.eclipse.org/install/1640500`
EXPECTED: my Eclipse IDE opens the Marketplace dialog
GOT: xdg-open failing with
[code]

[2020-04-07 23:18] mickaelistria commented on #7
https://github.com/flathub/org.eclipse.Java/pull/8 tries ti fix that

[2020-04-08 15:08] marbetschar opened #9 "After Update: Eclipse is no longer able to start"
Installed org.eclipse.Java on elementary OS 5.1 Hera. It used to work without any problems till I updated it this week. Now it refuses to start. Executing `flatpak run org.eclipse.Java` leads to the following error message:

![Screenshot from 2020-04-08 17-02-45](https://user-images.githubusercontent.com/392542/78799706-c8ebdc80-79ba-11ea-9a31-392bb65a4f7e.png)

And the printed log ends with:

[co

[2020-04-08 15:14] mbooth101 commented on #9
Eek, I'm sorry for the trouble.

Can you try starting Eclipse with the ```-clean``` option? E.g:

[code]

This will force a regeneration of the OSGi bundle cache

[2020-04-08 15:20] marbetschar commented on #9
It works, thanks for the quick help!! Although a bit weird, because I thought I already tried this and it lead to the same error. Anyway, good it works again. Will close this issue.

[2020-04-08 15:20] #9 closed

[2020-04-09 16:49] mickaelistria commented on #6
Actually, the artifacts are reused locally, so this doesn't consume bandwidth, only time.

[2020-04-20 08:24] mickaelistria opened #10 "Associating URI scheme handlers with Flatpak app seems non-functional"
With a regular (non-flatpak) Eclipse IDE installation on Fedora 31
* Window > Preferences > General > Link Handlers; check `eclipse+mpc` so it marks in the OS it's handled by the Eclipse IDE
* Open an html page containing a eclipse+mpc link in Firefox. Here is an example of such page
[code]
* Click the link
=> Firefox suggests to handle link with Eclipse IDE, and clicking it opens the MPC dialog

[2020-04-28 15:04] mickaelistria opened #11 "(PDE) Launch configuration doesn't propertly expand basedir for ${workspace_loc:someProject}"
I'm trying to run some m2e tests that require a proper basedir to succeed. In the PDE Launch Configuration "Arguments" tab, the running directory is set to `Default: ${workspace_loc:org.eclipse.m2e.tests}`, good.
If I run it from a Flatpak IDE, I see the test failing. When debugging, it appears that the running directory (`new File(".").getAbsolutePath()`) is not set to the desired path but to my

[2020-05-17 19:39] TingPing commented on #10
It just isn't listed in the desktop file: https://github.com/flathub/org.eclipse.Java/blob/master/org.eclipse.Java.desktop#L9

Compare it to the desktop file the package provided.

[2020-06-18 08:57] bullfroggie opened #12 "Eclipse breaks on update"
After updating Eclipse, it fails to start afterwards.
This is the [error message](https://imgur.com/W18be3K) that is displayed when launching Eclipse.
Here's [the log](https://gist.github.com/bullfroggie/1882f936e53f20245e8de7c23388550e) that is mentioned in the error message.

**OS**: Pop!_OS 20.04

[2020-06-18 09:24] mbooth101 commented on #12
Thanks for the report; running ```flatpak run org.eclipse.Java -clean``` is what I would have suggested too.

[2020-06-22 09:12] marbetschar commented on #5
Would love the possibility to use multiple JDK's with Flatpak Eclipse. Not figured out, how to use a different version than the one bundled and ship with the Flatpak package.

[2020-06-27 23:44] wvagner opened #13 "New Java Project not available"
I have installed Eclipse via flatpak and I am trying to create a **new Java Project** and the option is not available. I have searched a solution but I'm been unable to find it on the web.

[2020-06-29 12:42] mbooth101 commented on #13
Do you have any errors in your workspace log?

[2020-07-01 08:10] mauromol opened #14 "Document what is the recommended way to add changes to eclipse.ini"
I recently installed Eclipse 2020-06 through flatpak, because the standard package can't run properly on my Linux Mint 18.3 (based on Ubuntu 16.04), due to old GTK3 libraries. This version works great instead, thank you very much for your effort!

My first question: what is the recommended way to proceed when a change to eclipse.ini is required?

By now I changed /var/lib/flatpak/app/org.eclipse.J

[2020-07-01 08:24] mauromol opened #15 "Document how to properly set the java.library.path"
On my Eclipse 2020-06 installed with flatpak I added Subclipse: https://github.com/subclipse/subclipse
This SVN plugin can use native JavaHL libraries installed on the local machine to provide SVN functionality.
In order to properly do this with my Linux Mint 18.3 (based on Ubuntu 16.04) I need to install WANdisco's libraries, because otherwise the JavaHL version provided by Ubuntu is too old, see

[2020-07-01 08:30] mauromol opened #16 "Problems with Darkest Dark (DevStyle) plugin"
I installed Eclipse 2020-06 flatpak and, after installing Genuitec's DevStyle plugin to get the Darkest Dark theme, I have this error on Eclipse start, which also pops up as an error dialog:

[code]

If I look at the whole error log, this error is preceded by many instances of this:

[code]

Apart from this, the theme and the other DevStyle features seems to work fine, although I don't know the co

[2020-07-01 08:50] mauromol commented on #5
This would be a showstopper for me too, but @mickaelistria correct me if I'm wrong: I can easily select and add the following paths in my Linux Mint 18.3 (based on Ubuntu 16.04):
/run/host/usr/lib/jvm/java-7-openjdk-amd64
/run/host/usr/lib/jvm/java-8-openjdk-amd64
/run/host/usr/lib/jvm/java-11-openjdk-amd64
these are not symlinks, but are paths to generic OpenJDK 7, 8 and 11 versions respectively,

[2020-07-01 09:01] mauromol commented on #15
I've learnt about the /run/host... path seen by the Flatpak application in #5. So, I tried to set `-Djava.library.path=/run/host/usr/lib/jni` in eclipse.ini, but still getting an error from Subclipse:

[code]

The error says in English: "cannot open the shared object file: non existing file or directory".

I'm not an expert here: perhaps `libsvnjavahl-1.so.0.0.0` is trying to load `libsvn_repos-1.

[2020-07-01 11:19] mbooth101 commented on #14
Well, ```/var/lib/flatpak/app/org.eclipse.Java/current/active``` is a symlink to the current active revision of the application. So when you update, the target of the symlink will change and your changes will be "undone" (not really undone, but you are using a new version of the app without your changes). This isn't unique to flatpak, you can expect similar behaviour in other read-only situations

[2020-07-01 11:19] #14 closed

[2020-07-01 12:46] mauromol commented on #14
Hi Mat, thanks for this information! I think replacing eclipse.ini entirely is too risky on upgrade, because from one version to the other it may contain other things that are needed. Passing additional options directly to Eclipse command line I think is the best solution, at least for the cases I have in mind. Will in this case -vmargs specified on command line be merged with those provided by ec

[2020-07-01 13:04] akurtakov commented on #14
A README.md file with link to the respective document explaining it is worth it.
Mauro, I believe you can make it too and probably better than Mat as you can can put an explanation like "in order to do XXX ..." and after spending time on given issue we just start lacking to explain the solution with simple words :) . PR would be welcome.

[2020-07-01 13:29] mbooth101 commented on #15
Sigh, it looks like WANdisco may be hard-coding the "rpath" in their binaries. This breaks dynamic loading in the Flatpak sandbox context. IMHO the dynamic linker is almost always smarter, so it's best not to try to outsmart it.

On Fedora and RHEL there is a tool called ```chrpath``` you can use to remove hard-coded rpaths from compiled binaries -- maybe it also exists on Ubuntu. You can try runn

[2020-07-01 13:54] mbooth101 commented on #14
In case you didn't try it and see for yourself, the arguments are appended to those in the eclipse.ini file.

In the case where an argument is given twice (i.e. once in eclipse.ini and once on command line) then the command line option wins. (If I recall OpenJDK's behaviour correctly when giving an option multiple times the last one wins. For example, I believe invoking ```java -Xmx2g -Xmx4g``` sh

[2020-07-01 13:58] mauromol commented on #15
I'll try to have a look to chrpath, thank you. I'll report if I make progress. Meanwhile I think SVNkit is the way to go, although I always had mixed results with it.
Having SVN binaries in the Flatpak would be nice, although I suspect it will never happen due to licensing and things like that... Also, Subclipse is an Apache project and not an Eclipse project, while the Eclipse counterpart, Subver

[2020-07-01 14:31] mauromol commented on #15
For the records, I tried `chrpath -l` on `/usr/lib/jni/libsvnjavahl-1.so.0.0.0` and on `/usr/lib/libsvn_repos-1.so.1`, but for both files I get: "no rpath or runpath tag found".

[2020-07-01 14:39] mbooth101 commented on #5
I believe @mickaelistria is using Fedora, where they *are* symlinks.

Accessing the host filesystem from sandbox is fully documented at flatpak.org: https://docs.flatpak.org/en/latest/sandbox-permissions.html#filesystem-access

Relevant quote:

[2020-07-02 08:48] mbooth101 commented on #15
Wait, on Ubuntu the libs are split between ```/usr/lib/jni``` and ```/usr/lib``` ??

You are adding only ```/run/host/usr/lib/jni``` to the java.library.path, but I assume you need both locations in this case.

[2020-07-02 09:03] mauromol commented on #15
Honestly the situation is not very clear to me. WANdisco libraries are under `/usr/lib/jni` and with the standard Eclipse installation I just need to add that folder to `java.library.path`.

However, adding the corresponding path to the Flatpak version, it complains it can't find `libsvn_repos-1.so.1`, which I see is under `/usr/lib` in my system, so I suspect that the former is linked against the

[2020-07-02 09:21] mbooth101 commented on #15
Sure, because the dynamic linker will look in ```/usr/lib``` implicitly.

Right, that's why I suspected rpath use -- the filesystem root of the sandbox is not the same as the filesystem root of the host.

I'm afraid I ran out of suggestions for now (except use the SVNkit implementation)

[2020-08-20 08:19] mauromol opened #17 "Wrong default time zone used"
I'm using Linux Mint 18.3 (based on Ubuntu 16.04).
The default time zone used by the Eclipse flatpak version is GMT, in fact if I look at the "Eclipse IDE Installation Details" | Configuration, I see:
`user.timezone=GMT`
This is propagated to the applications I run from Eclipse, in fact a println of the default time zone produces:
`sun.util.calendar.ZoneInfo[id="GMT",offset=0,dstSavings=0,useDayli

[2020-09-03 18:46] ojask commented on #5
I've been facing this problem of symbolic links not dereferencing as well. I tried to `Add External JAR `(symlink) into a user library (`Preferences -> Java -> Build Path -> User Libraries`), but it did not work ( `mylib.jar - /path/to/symlink(missing)` ).

Importing the same symlinks through `File -> Import -> FIlesystem` works fine.

I've noticed that the Eclipse uses the the host's filepicker d

[2020-09-21 15:43] mauromol commented on #12
Also updating from 2020-06 to 2020-09 requires `-clean` otherwise Eclipse won't start.

[2020-09-21 15:48] mauromol opened #18 "Cannot start Java 11 with JMX enabled in Ubuntu"
When trying to start a Spring Boot app with a JRE locally installed in the host system (under `/run/host/usr/lib/jvm/java-11-openjdk-amd64`), I get the following exception on startup:

    Error: Config file not found: /run/host/usr/lib/jvm/java-11-openjdk-amd64/conf/management/management.properties

That file actually exists, but it's a symlink that points to `/etc/java-11-openjdk/management/mana

[2020-09-21 15:51] mauromol commented on #5
I think another problem related to symlinks and extra JREs is the following: #18.

[2020-09-22 08:59] mauromol commented on #16
I still don't understand why this problem happened, however it disappeared once my flatpak package was upgraded from Eclipse 2020-06 to 2020-09 and I followed the migration procedure to reinstall all plugins (including DevStyle).

[2020-09-22 08:59] #16 closed

[2020-09-29 09:57] HL72 commented on #16
Hi @mauromol, could you please point me to the plugins migration procedure you are mentioning please?
I encounter a similar issue but only since I'm opening a workspace (existing or new) after I've upgraded to 2020-09.
![image](https://user-images.githubusercontent.com/5919619/94543952-f4090780-024a-11eb-830e-849360d2e408.png)

[2020-09-29 16:02] mauromol commented on #16
@HL72 after the flatpak package was (automatically) upgraded from 2020-06 to 2020-09, Eclipse was not starting any more, due to #12 . Then I had to start the Eclipse flatpak by adding -clean command line option: in this way Eclipse started again. As soon as it started for the first time (perhaps after choosing a workspace, I can't remember exactly) a migration wizard I had never seen before shown

[2020-10-10 22:43] eszlari opened #19 "update GNOME runtime to 3.38"

[2020-10-21 19:32] wolfred24 commented on #19
!SESSION 2020-10-21 14:30:19.092 -----------------------------------------------
eclipse.buildId=4.17.0.I20200902-1800
java.version=11.0.8
java.vendor=Flathub
BootLoader constants: OS=linux, ARCH=x86_64, WS=gtk, NL=en_US
Framework arguments:  -product org.eclipse.epp.package.java.product
Command-line arguments:  -os linux -ws gtk -arch x86_64 -product org.eclipse.epp.package.java.product

!ENTRY o

[2020-11-05 18:05] mbooth101 commented on #16
@HL72 @mauromol FWIW, the Spectrum theme plug-in is a pretty decent successor to Darkest Dark theme plug-in:

https://marketplace.eclipse.org/content/eclipse-spectrum-dark-theme

It might be worth checking out.

[2021-01-05 19:31] ghost opened #26 ""AutoRegisterSchemeHandlersJob""
Just installed the flatpak and an error showed up. Using Fedora 33.
Hope the screenshot helps.
![flatpakdevshimerror](https://user-images.githubusercontent.com/63687979/103690430-79e7cd80-4f73-11eb-955c-b846b33c1399.png)

[2021-01-06 22:48] rstdigo commented on #26
Nevermind, I'm using eclipse from the official repo.

[2021-01-07 07:27] akurtakov commented on #26
It's an issue we are working on.

[2021-01-07 11:33] akurtakov commented on #19
This has been done already.

[2021-01-07 11:33] #19 closed

[2021-01-07 11:37] akurtakov commented on #13
Closing due to no reply from submitter. Nothing we can do without details.

[2021-01-07 11:37] #13 closed

[2021-01-07 11:41] akurtakov commented on #4
The fix landed in CDT and terminal works correct in latest version.

[2021-01-07 11:41] #4 closed

[2021-01-08 07:35] akurtakov commented on #26
Should be fixed now.

[2021-01-08 07:35] #26 closed

[2021-01-10 09:30] Mek101 opened #28 "Eclipse window handled by secondary low resolution icon with plank"
While launched from the correct launcher in the dock, a secondary low res icon appears, and it's the one handling the window

![Schermata del 2021-01-10 10-20-21](https://user-images.githubusercontent.com/34246799/104119132-d9582b80-532d-11eb-8423-9877784aa148.png)

Applying #22 fixed this.

[2021-01-10 10:42] Mek101 commented on #28
Closing since #22 was applied

[2021-01-10 10:42] #28 closed

[2021-02-05 21:22] wolfred24 opened #30 "How can i use Selenium Webdriver inside flatpak Eclipse?"
Hi guys im trying to run chromedriver and geckodriver for firefox inside an Eclipse project, but flatpak Eclipse app cant open Firefox or Chromium because Eclipse does not have access to the binaries of the system, i have tried to give access to the binaries using flatseal but nothing works:

PATH=/app/bin:/app/openjdk-11/bin:/usr/bin:/usr/local/bin:/usr/bin:/bin:/usr/local/games:/usr/games:/snap/

[2021-02-05 21:29] akurtakov commented on #30
Just to clarify the issue happens with Firefox/Chromium installed via flatpak ? Have you tried whether it works with system installed firefox via apt-get ? Eclipse has a special process shim to enable running applications available on the host PATH.
Unfortunately we haven't look into integration between Eclipse flatpak and Chromium flatpak so any hints or links on the topic are more than welcome.

[2021-02-05 21:47] wolfred24 commented on #30
Yes, i have Firefox flatpak version installed, also i have firefox Debian local installation, when i run my code using Flatpak Eclipse version it does not run at all, but when i run my code with loocal debian Eclipse installation it works perfectly fine.. this is the minimal code example that i am tryng to run:

System.setProperty("webdriver.gecko.driver", "/home/cesar/workspace/CucumberFramework/

[2021-02-06 11:07] Mek101 opened #31 "[Regression] Duplicated icons"
Duplicated icons on Plank due to #29

![Schermata del 2021-02-06 12-04-13](https://user-images.githubusercontent.com/34246799/107116455-ad1fc400-6873-11eb-98dc-73e97b896229.png)

[2021-03-22 07:44] ilopezv commented on #16
Same problem on STS 4.8 and STS 4.9 in various laptops

[2021-03-30 17:38] rbi opened #33 "Not working on Flatpak 1.6.5 / Ubuntu 20.04 LTS"
*how to reproduce*
* Try to update the Eclipse flatpak with Flatpak 1.6.5 on Ubuntu 20.04.

*what happened*
* An error message is shown `Error: org.eclipse.Java needs a later flatpak version`.
* Eclipse is not updated

*what should happen*
* No error message
* Eclipse is updated

I use Flatpak so that I don't need to upgrade my whole operating system just to have the newest versions of some softwa

[2021-03-30 17:48] akurtakov commented on #33
See https://github.com/flathub/org.eclipse.Java/commit/a39270453dbdd561648c564eea9131f094f3691b for details.

[2021-03-30 18:54] rbi commented on #33
I don't remember issues with something not able escape the sandbox. Maybe not everybody is affected? Do you really need to raise the minimum Flatpak version to fix the other problem? Wouldn't it be enough to just have Flatpak 1.7.1 installed instead of requiring it for everybody?

[2021-03-31 05:46] rbi commented on #33
What exactly was the problem with using hosts Java versions? Is there a bug report describing it? is there really no other way of fixing it? I don't remember any problems using my host Java. Java are just files too after all and accessing files on the host file system did work in earlier Flatpak versions too.

I guess you can have different definitions of "seamless experience". I use Flatpak to ha

[2021-03-31 09:48] mbooth101 commented on #33
The problem was that it was users were unable to add Java 1.8 or earlier JDKs to their IDE on certain versions of flatpak before the document portal was able to properly export directories into the sandbox.

I have been treating RHEL as our support baseline and even RHEL 8, which I think was released in 2019, now has flatpak >= 1.8.5. IMO Ubuntu does a great disservice to its users by shipping old

[2021-05-05 12:17] Derkades opened #34 "Environment variables for run configurations are not set"
No environment variables set in this menu are visible to the application:
![image](https://user-images.githubusercontent.com/15892014/117139208-42b3ec80-adac-11eb-881e-32b159eed056.png)

This worked on a previous install through snap. Also configuring it to replace environment variables does not remove existing env vars:
![image](https://user-images.githubusercontent.com/15892014/117139367-75f67b8

[2021-05-05 15:58] mbooth101 commented on #34
Are you using the JustJ OpenJDK bundled in the app, or using a JDK from your host system?

[2021-05-05 17:02] Derkades commented on #34
Thanks for the response, I am using an OpenJDK from the host system.
When I switch to the built-in JRE:
![image](https://user-images.githubusercontent.com/15892014/117180382-6ab74600-add4-11eb-942f-07ccca49cc17.png)
![image](https://user-images.githubusercontent.com/15892014/117180301-57a47600-add4-11eb-94bd-734e61d05280.png)

[2021-05-26 16:03] mcoufal opened #35 "[CDT] Invalid project path: Include path not found"
I have created simple C++ helloworld project and I get following warnings:
Invalid project path: Include path not found (/usr/include)
Invalid project path: Include path not found (/usr/local/include)

It seems that eclipse does not look for header files on the host or does not have access to them.

Also, similar problem occurs when trying to use QT Test runner in C/C++ unit testing - adding 'qmak

[2021-06-02 13:27] mcoufal opened #36 "[CDT] gdbserver not found"
I can't make debugger to work, I always end up with an error that command 'gdbserver' is not found.

How to reproduce:
1. create simple Hello World C++ Project with Linux GCC toolchain
2. build project
3. set a line breakpoint somewhere in main
4. debug as Local C/C++ Application

Console view now shows an error: '/bin/sh: gdbserver: command not found'.
Might be connected to [https://github.com/fl

[2021-06-02 13:44] mcoufal opened #37 "[CDT] Restarting Eclipse after CDT installation causes an error"
When I try to install CDT using 'Install New Software...' wizard, I get an error after trying to restart Eclipse (see screenshot).

How To Reproduce:
1. open 'Install New Software...' wizard
2. use update site: https://download.eclipse.org/tools/cdt/builds/10.3/cdt-10.3.0-rc1/
3. select and install 'CDT Main Features' group
4. click on 'Restart Now' when prompted

At this point I can see the error

[2021-06-04 10:11] mcoufal opened #38 "[RPM] rpmdevtools not found"
After installing RPM plugin, some wizards aso. work with executables in rpmdevtools package, but flatpak can't find these (they're on host system). However, I'm not sure whether there is a plan to support such tools.

How To Reproduce:
1. have rpmdevtools package installed
2. have RPM plugin installed (RPM 7.1.0 in Marketplace)
3. run Eclipse
4. create new RPM project
5. try to create new 'Specfil

[2021-06-17 10:38] Mek101 commented on #38
Where are those tools installed? If they're anywhere in `/usr`, this is to be expected, as flatpak prevents any application from reading it

[2021-06-17 10:43] Mek101 opened #39 "Unable to open project in system explorer"
![Schermata da 2021-06-17 12-39-18](https://user-images.githubusercontent.com/34246799/122381397-2ab5b800-cf69-11eb-91d5-7b74ead3d5c1.png)

Looks like eclipse is unable to communicate with a session bus

Setup:
Manjaro Gnome
Flatpak 1.11.1
org.eclipse.Java 4.19

[2021-06-17 14:20] mcoufal commented on #38
They are under /usr/bin/...

[2021-07-01 17:58] dpkg-i-foo-deb opened #41 "Support for KDE Global Menu."
It would be great if you add support for KDE's global menu, taking in mind the main Eclipse version supports it.

This is what I am getting using the flatpak version:

![Screenshot_20210701_124745](https://user-images.githubusercontent.com/80849765/124168300-91a79680-da6a-11eb-807c-364895e42b73.png)

This is what I get using the main version:

![Screenshot_20210701_125555](https://user-images.gith

[2021-07-02 02:58] syphr42 opened #42 "Running all JUnit tests in a project fails for Flatpak Eclipse"
I asked this as a question over on [StackOverflow](https://stackoverflow.com/questions/68154020/how-do-you-run-junit-tests-in-flatpak-eclipse), but I'm starting to think it is a bug with the Flatpak version of Eclipse rather than a configuration problem. Running the same unit tests in non-Flatpak Eclipse works fine. I'm on the latest version (2021-06).

When I try to run a JUnit 4 suite defined to

[2021-07-02 05:44] akurtakov commented on #42
@vrubezhny would you please investigate?

[2021-07-02 10:48] vrubezhny commented on #42
Sure.

[2021-07-06 12:37] vrubezhny commented on #42
@syphr42 According to https://docs.flatpak.org/en/latest/sandbox-permissions.html#filesystem-access:

So, I think JUnit cannot write/read anything at `/tmp`. But probably i's possible to  add a wrapper script that maps `/tmp` to a directory inside  `$XDG_RUNTIME_DIR/app/$FLATPAK_ID` (f.i. to `$XDG_RUNTIME_DIR/app/$FLATPAK_ID/tmp`).

[2021-07-06 15:28] vrubezhny commented on #42
@syphr42 As more simple workaround you could probably:
- create a "temp" directory somewhere inside your home directory or your workspace;
- add `-Djava.io.tmpdir="<put here the full path to your temp directory>"` (for example, `-Djava.io.tmpdir="/home/user/temp/"`) to `VM Arguments` on `Arguments` page of your Run/Debug Launch configuration wizard.

This will make JUnit to use your "temp" directo

[2021-07-06 15:30] akurtakov commented on #42
@vrubezhny this is flatpak installation (see https://flathub.org/apps/details/org.eclipse.Java). You may have not used it yet but OS is irrelevant as it's sandbox technology that's same on every OS. Please install from flathub and try debugging the code to familiarize yourself. IMHO it's the future for Eclipse IDE distribution on linux.

[2021-07-06 15:33] vrubezhny commented on #42
@akurtakov Asking because I can't reproduce the problem and it looks like `/tmp` directory is available for read/write for my 'org.eclipse.Java` installation  - that's why I'm asking.

[2021-07-06 23:07] syphr42 commented on #42
I am able to confirm that adding the VM arg `-Djava.io.tmpdir` to the arguments for my JUnit test runner configuration with a directory inside my home directory did not work. I still receive the same error. I also agree @vrubezhny that Flatpak docs say that `/tmp` should not be accessible, but my experimentation seems to show the same thing you found and that is that `/tmp` is accessible. This of

[2021-07-07 00:48] vrubezhny commented on #42
@syphr42 Actually, `/tmp` directory is still active in a sandbox, but it's not the same as normal `/tmp` filesystem directory. It looks like it's bieng redirected to something like `/dev/null` - so it can be written to without any error indication (technically it can be read from, but there is nothing to read). As such `testNames.txt`temporary file is created and is written without any error indic

[2021-07-07 12:29] vrubezhny commented on #39
@Mek101 could you please verify if the latest build fixes the issue?

I cannot reproduce the issue using Flatpak 1.10.2, org.eclipse.Java 2021-06 (4.20.0) on Fedora (Gnome 3.38.5, Wayland) - `Show-in -> System Explorer` works fine for me.

[2021-07-07 13:32] Mek101 commented on #39
I still have this issue on 2021-06.
org.eclipse.Java 4.20

[2021-07-08 12:46] vrubezhny commented on #36
When using a build made of PR #45 I see that `gdbserver` executable now can be found, but process still  cannot be normally started.

I found that the command line that is used to launch `gdbserver` does look like:
[code]
when starting a debugger (` Debug as -> C/C++ Application`) it tries to execute the command line above and finally fails with a TimeoutException:
[code]
Normally, when a `gdbserv

[2021-07-08 13:59] vrubezhny commented on #36
Probably, the real reason is in flatpak-spawn'ed `gdb` process:
[code]
The host `/etc` directory is not available inside a sandbox (it has its own '/etc' directory, so flatpak-spawn'ed `gdb` process has no access to host's `/etc/gdbinit` file.

[2021-07-09 16:02] vrubezhny commented on #36
@jjohnstn @akurtakov
The problem with Flatpak CDT Debug is  somewhere in flatpak-spawn'ed-GDB-to-GDBBackend communication... GDB id flatpak-spawned process with `--interpreter mi2` argument and `-ex "new-ui mi /dev/pts/1"` command sent to it. It's started like this:
[code]
`"/dev/pts/1"` here is a PTY name that GDBBackend(GDBBackend_7_12) is created to listen for `mi2` interpreter output and [prob

[2021-07-09 18:29] vrubezhny commented on #36
I'm not sure, but IMHO the problem is that Flatpak CDT GDBBackend (running under the sandbox) tries to read a stream that is not sandbox'ed....

`flatpak-spawn` is a kind of portal that runs a not-sandbox'ed application and re-transmits its input/output/error streams to/from other sandbox'ed application. But all the other custom streams opened by such application, like the one opened directly from

[2021-07-09 23:11] vrubezhny commented on #36
There is some progress with build https://flathub.org/builds/#/builders/32/builds/53062, at least now we can start `gdbserver` and `gdb` and read the messages from `gdb` - not just hanging out on Mi-command reading until timeout happens.
But still it's not possible to debug due to the following error:
[code]

[2021-07-10 00:02] jjohnstn commented on #36
Hi Victor,

I am running an old Flatpak 2020-09 SDK with CDT installed from the
matching release repo and using my local gdb 7.6.1 and C/C++ debugging is
working.  The gdbserver gets kicked off and gdb appears to talk to it fine.

There have been some mi issues reported lately in cdt-dev but they were for
mac.  Perhaps the problem is really tied to newest versions of gdb and/or
CDT.

My program is

[2021-07-10 00:33] vrubezhny commented on #36
@jjohnstn Yes, off course, the newer versions could be a reason.
I'm currently on:
-  Flatpak Eclipse  2021-06 (4.20.0), Build id: 20210612-2011
- GNU gdb/gdbserver (GDB) Fedora 10.1-4.fc33

Yet another problem s that (probably in case of problem on starting debugger) I have `gdbserver` running left in the system (until I restart eclipse or kill it), so every second debugger start ends with:
[code

[2021-07-10 02:35] jjohnstn commented on #36
FWIW, multiple debugs work fine in my scenario as well.  I can debug again
and again and the gdbserver exits each time.

On Fri, Jul 9, 2021 at 8:33 PM Victor V. Rubezhny ***@***.***>
wrote:

[2021-07-10 10:27] Derkades opened #46 "Eclipse fails to start after recent update"
![image](https://user-images.githubusercontent.com/15892014/125159814-205a9880-e17a-11eb-8a81-e66cfce35b41.png)

[code]

[2021-07-10 10:28] Derkades commented on #46
#12 looks similar but `flatpak run org.eclipse.Java -clean` didn't help

[2021-07-12 15:30] mcoufal commented on #35
For some reason, I can't get it to work in any Eclipse I install, I tried release from flathub (http://flathub.org/repo/flathub.flatpakrepo):

Name                                                    Application ID               Version           Branch           Installation
Eclipse IDE for Java Developers           org.eclipse.Java           4.20                stable             system

and also

[2021-07-14 20:44] jjohnstn commented on #36
After discussing with Jonah, the problem appears to be that CDT will use a full gdb console if the level of gdb supports it (which started in 7.12).  There is a CDT call isFullGdbConsoleSupported() which when it returns true: there are two PTYs that connect GDB and Eclipse CDT, one for MI and one for CLI.   When !“full gdb” only a single PTY connects GDB and CDT and all that communication is MI. T

[2021-07-15 20:13] jjohnstn commented on #36
The following bug has been opened and a gerrit has been submitted:

https://bugs.eclipse.org/bugs/show_bug.cgi?id=574874

[2021-07-16 19:45] Derkades commented on #46
doing a `flatpak remove` followed by `flatpak install` fixed the issue, and apparently even without losing any data

[2021-07-16 19:45] #46 closed

[2021-07-18 16:09] syphr42 commented on #42
This is resolved by #43

Thanks for the quick fix on this!

[2021-07-18 16:09] #42 closed

[2021-07-30 20:17] mbooth101 commented on #41
Thanks for the report.

I suppose this is because Eclipse Flatpak uses the Gnome runtime, and not the KDE runtime. I'm not at all familiar with KDE so this will take some investigation.

[2021-08-03 14:01] vrubezhny commented on #36
@jjohnstn Thanks for the fixing the extra PTY for MI problem. It looks like it really helped to solve the block on reading the MI stream.
But now I have another problem while starting the debugger - it looks like `gdb` has a problem accessing `localhost:2345/tcp` specified in `target-select` command (or some other related problem):
[code]

[2021-08-03 20:44] dpkg-i-foo-deb opened #47 "Maven Projects Cannot Find Java."
When I create a Maven project and try to run it, it cannot be run because it doesn't find the java executable.
This is the generated output:
[code]

The same project can be perfectly run using the normal Eclipse version.

[code]

![image](https://user-images.githubusercontent.com/80849765/128083429-776ace2c-b4fb-4384-94c1-af05aeb392b5.png)

[2021-08-09 20:19] vrubezhny commented on #36
The following bug has been created and the Gerrit change has been submitted for the `localhost:2345/tcp: cannot resolve name: Servname not supported for ai_socktype` error:

https://bugs.eclipse.org/bugs/show_bug.cgi?id=575317

[2021-08-10 12:00] vrubezhny commented on #36
The following fixes made to CDT restore the CDT debugger functionality:
https://bugs.eclipse.org/bugs/show_bug.cgi?id=574874
https://bugs.eclipse.org/bugs/show_bug.cgi?id=575317

I believe we can close the issue when the fixed mentioned above are available in  CDT release

[2021-08-10 12:46] vrubezhny commented on #38
Host's `/usr/bin` is mapped to `/var/run/host/usr/bin` in Sandbox. In theory we can add it to `$PATH` in order to make the tools executables available from under the Sandbox.
But some programs read/require to have some config files to be available from `/etc/` or some other directories, some of them are mapped as well, for example `/etc` -> `/var/run/host/etc` - but in fact they cannot be accessed

[2021-08-11 10:56] #33 closed

[2021-08-11 12:20] mcoufal commented on #38
Hi @vrubezhny,
I just tested the build you mentioned, I double checked the `PATH` inside the sandbox:
[code]

and it's the same as you wrote. When listing `/var/run/host/usr/bin` I can see `rpmdev-newspec` binary, but the issue remains the same as in my original report.

[2021-09-21 14:11] vrubezhny commented on #38
The fix is provided in linuxtools: https://git.eclipse.org/r/plugins/gitiles/linuxtools/org.eclipse.linuxtools/+/a394f2f2a8bbfb3d71efce14422df2eef1b90cd0

[2021-09-27 10:45] vrubezhny commented on #47
@dpkg-i-foo-deb Could you please provide a simple test project that demonstrates the problem?

[2021-09-27 13:02] vrubezhny commented on #11
In my case, when I run a JUnit test from a Flatpak IDE,  `new File(".").getAbsolutePath()` returns a value like `/home/user/projects/linuxtools/runtime-New_configuration/org.test.maven.proj1/` - which looks like a correct value (default workspace path + path to project).

Any suggestions on how can I reproduce it?

[2021-09-27 13:04] mickaelistria commented on #11
Sorry, it's been a while since I tried it and don't have more details than what I wrote in the report. So if you tried that and could see it working, it may be already fixed.

[2021-09-29 16:25] akurtakov commented on #38
Using linuxtools master should work.

[2021-09-29 16:25] #38 closed

[2021-10-07 10:34] mcoufal opened #51 "[RPM] Use correct default rpmlint path"
As a default, rpmlint path in `Preferences` > `RPM` > `Rpmlint` is set to path that would point to rpmlint outside of the sandbox (`/usr/bin/rpmlint` in my case). That leads to an error: "Value must be an existing file". This binary seems to be actually mirrored (somewhere under `/run/usr`) and is automatically used when selecting `/usr/bin/rpmlint` using the `Browse...` button and system's file e

[2021-10-07 11:39] mcoufal opened #52 "[RPM] org.eclipse.wst.json.ui.internal.hyperlink.JSONHyperlinkDetector failed to load"
When I open Specfile editor, error window pops up saying:
[code]
Moreover, and I not sure if that's even related, hover help for some text in specfile does not work (in contrast to non-flatpak eclipse): e.g. for `%nil`, `%make_build` or `%make_install`.

Enclosing workspace log for more detail on the errors.
[workspace_log.txt](https://github.com/flathub/org.eclipse.Java/files/7302742/workspace_lo

[2022-01-05 09:28] Ashvith commented on #30
So there's still no fix?

[2022-01-06 07:43] Ashvith commented on #30
@mbooth101 Not working for me. I just switched to the Oomph installer, fixed my issue.

[2022-01-06 09:21] mbooth101 commented on #30
Which part?

[2022-01-07 17:23] GeorgeSalu opened #53 "eclipse 4.22"
hello how are you, could you update to eclipse 4.22 ?  @mbooth101 @akurtakov

[2022-01-11 19:42] Ashvith commented on #30
[code]

[2022-01-11 21:42] mbooth101 commented on #30
@Ashvith Can you provide a sample project to illustrate?

[2022-01-12 04:58] Ashvith commented on #30
@mbooth101 I've made another sample program that has the same issue

**Code**
[code]

**Log**
[code]

[2022-03-18 13:15] stollr opened #56 "DBeaver Import launch configuration does not work"
I have installed Eclipse via flatpak v1.10.7 on Debian bullseye (v11.2) with KDE Plasma 5.20.5 and Linux kernel 5.10.

I am trying to setup DBeaver and follow [this guide](https://github.com/dbeaver/dbeaver/wiki/Develop-in-Eclipse#running-and-debugging-in-eclipse). But when it comes to "Import Launch Configurations", I cannot browse or select anything. I cannot even enter something into the text f

[2022-03-23 13:29] akurtakov commented on #39
Just verified on 4.23 and it works for me too.

[2022-03-23 13:29] #39 closed

[2022-03-23 13:31] akurtakov commented on #41
Eclipse can't use KDE global menu when downloaded from upstream. Thus fix should be there. Please consider opening bug at https://bugs.eclipse.org/bugs/ but you may need to help with adding support for it.

[2022-03-23 13:31] #41 closed

[2022-04-11 12:20] ghtesting2020 opened #59 "Cannot pin flatpak to KDE Plasma icon-only task manager/taskbar. Missing metadata?"
I am unable to pin the Eclipse IDE for Java Developers flatpak to the KDE Plasma icon-only task manager (the bar at the bottom) also called taskbar on Windows.

I have never experienced this before with any other flatpaks where I cannot "Pin to Task Manager" when I right click the icon in KDE Plasma. The option is greyed out for the Eclipse icon but all of my other flatpaks pin without issue.

It

[2022-04-15 12:19] Mailaender opened #60 "Can't save inside launched application"
To reproduce follow https://github.com/OpenChrom/OpenChrom/wiki/Quickstart, click `Demo` then :floppy_disk: it will show no error message but also don't save any file. I flipped some switches in Flatseal, but it didn't help.

[2022-04-29 11:28] Mailaender opened #61 "Missing Contraints"
I get Missing Constraints in dependencies of dependencies.
![Screenshot_20220429_132544](https://user-images.githubusercontent.com/756669/165935848-00613c55-8730-4ef3-8da9-b5cea859fad5.png)
This error does not show up when I download the [oomph install](https://www.eclipse.org/downloads/download.php?file=/oomph/epp/2022-03/R/eclipse-inst-jre-linux64.tar.gz&mirror_id=1190)
JDK is Temurin 11 install

[2022-05-06 11:08] Mailaender commented on #60
This also happens on an oomph installation, so is unrelated to flatpak.

[2022-05-06 11:08] #60 closed

[2022-05-18 13:39] LorenzoBettini opened #62 "Cannot configure JREs correctly"
I've just started experimenting with Eclipse installed as a flatpak (I have quite experience with Eclipse, but I had never tried the flatpak version).

I cannot seem to be able to set JREs properly.

The JRE that comes with JustJ does not allow me to run a Maven build (I guess because it's not a JDK but only a JRE? I never used JustJ anyway in the past). When I try to set the available JDKs I inst

[2022-05-26 08:27] #61 closed

[2022-05-26 08:30] Mailaender commented on #62
Possible duplicate of https://github.com/flathub/org.eclipse.Java/issues/47

[2022-05-26 08:52] LorenzoBettini commented on #62
Maybe: that bug is quite old, and the error message I get is slightly different: it complains that JAVA_HOME is not set

[2022-06-20 07:00] ERF4 opened #63 "Update to Eclipse 4.24"
They released a new version on June 14. [should be here](https://download.eclipse.org/technology/epp/downloads/release/2022-06/R/)

Updating the file with the new version looks pretty simple, but I'm not gonna do it myself because I'm new and I have no idea how this stuff works. Also why would anyone trust me.

Is there really no way to just automate this? One of the main things that drew me to fl

[2022-06-23 07:03] akurtakov commented on #63
In the future feel free to propose a PR. I try to put it with smallest delay but my upstream Eclipse duties sometimes prevail. I'll update today.

[2022-06-23 07:45] #63 closed

[2022-06-25 19:27] Mailaender opened #65 "Distorted rendering on Wayland"
when using 125 % UI scale on @KDE:

![image](https://user-images.githubusercontent.com/756669/175787896-2b684363-9159-4168-ae7a-9166a3e1c132.png)

[2022-07-16 13:02] Mailaender commented on #65
possible workaround https://wiki.archlinux.org/title/eclipse#Display_issues_under_Wayland

[2022-08-02 16:32] vijark commented on #34
I have the same problem. When I use a JDK from my host system, the environment variables are not set. However, the bundled JustJ OpenJDK works fine.

[2022-08-02 17:03] candrews opened #67 "Installing Lombok via its update site doesn't do anything"
In Eclipse, I installed Lombok as documented at https://projectlombok.org/setup/eclipse using the update site, https://projectlombok.org/p2

After installation, in Eclipse I checked the About box and did not see Lombok. Also, Lombok isn't working as evidence by Lombok generated getters, for example, not being recognized as existing in Eclipse.

After stumbling around for a bit, I came across https

[2022-09-12 07:02] henryju opened #68 "Eclipse freeze and crash every first startup after booting"
Hi,

I started to use Eclipse as flatpak few days ago. I noticed that every time I boot my computer, the first time I launch Eclipse, the UI will freeze after displaying the workspace. After a while (~1 min?), the app will crash without any error message.
Then if I try to restart Eclipse, it will successfully start and I can use it.

How can I investigate that problem? Is there any crash dump avai

[2022-09-27 13:20] ssokolow commented on #30
I don't know about Eclipse, but I was having trouble even getting chromedriver to talk to a Flatpak release of Ungoogled Chromium when only the browser was sandboxed, so I decided that, since you connect to it over a TCP socket anyway, why not just run it *inside* the sandbox?

[code]

Tested working with a simple `npm test` from a hybrid Rust/TypeScript project, though, at first, it was being tem